// Main Sass File

$primary-color: #008ed6;
$bg-color: #333;
$font-color: #fff; 
$dark-overlay: rgba(0,0,0,0.7);
$icon-size: 30px; 

body {
    background-color: $bg-color;
    color: $font-color;
}

.navbar {
    opacity: 0.8;
    border-bottom: solid 3px $primary-color;
}

#home-section {

    background: url('../img/adult-black-and-white-cellphone-1232148.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px; 

    .dark-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $dark-overlay;
        min-height: 700px; 
    }

    .inner-home {
        padding-top: 130px; 
    }

    .card-form {
        opacity: 0.9;
    }

    .fa {
        color: $primary-color;
        background: #fff;
        font-size: $icon-size;
        padding: 4px; 
        border-radius: 5px; 
        opacity: 0.9; 
    }
}

#explore-section {
    .fa {
        color: #fff;
        background: #333;
        font-size: $icon-size;
        padding: 4px; 
        border-radius: 5px; 
        opacity: 0.9; 
    }
}

#create-section {
    .fa{
        color: $primary-color;
        background: #fff;
        font-size: $icon-size;
        padding: 4px; 
        border-radius: 5px; 
        opacity: 0.9;
    }
}